.rodape {
    background-color: var(--cor-texto);
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: auto;
    box-shadow: 0 -2px 5px var(--cor-sombra);
    font-size: 0.9em;
}

.rodape p {
    margin: 5px 0;
}